/*Set the body of the pages*/
.home{
    background: url('../Assets/Site/giphy.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.pageTeam, .pageAbout{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.pageTeam{
    background: url('../Assets/Site/Screenshots/ss7.png') no-repeat center center fixed;
}
.pageAbout, .pageDocumentation, .minutes, .devLog{
    background: url('../Assets/Site/WebsiteBackground.png') no-repeat center center fixed;
    text-align: center;
}

/*Style game page*/
.game{
    background-color: black;
    cursor: url('../Assets/spr_cursor.png'), default;
}

/*Set up carousel*/
html, body, .carousel, .item, .active, .carousel-inner, .fill{
    height: 100%;
}
.fill {
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Style team page*/
.teamTextColumn{
    margin-top: 150px;
    font-size: 17px;
    color: white;
    word-spacing: 5px;
    background-color: black;
}
#danielImageColumn{
    margin-top: 150px;
    background-color: black;
}
#danielImage{
    margin-left: 150px;
}

/*Style game information page*/
#gameInfo1, #gameInfo2{
    margin-top: 100px;
    color: white;
}
#gameInfo1{
    float: left;
    margin-left: 100px;
}
#gameInfo2{
    float: right;
    margin-right: 100px;
}

/*Style documentation & minutes page*/
#documentation1, #minutesOfMeeting, #devLog{
    margin-top: 75px;
    margin-left: auto;
    font-size: 18px;
}

/*Center Columns*/
.col-centered {
    display:inline-block;
    float:none;
    color: white;
}

.minutesList{
    display: inline-block;
    text-align:left;
    width: 35em;
}

.container-fluid{
    padding: 0;
}

h1, h2, h3, a{
    color: rgba(197, 179, 88, 1);
}